html,
body {
  margin:0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
#header{
  margin:0;
  padding:14px;
  width: 100%;
  background-color: #0455B3;
  position:fixed;
  top:0;
}
#header a{
  list-style-type: none
  padding: 10px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 30px;
  color:white;
}
#header li {
  list-style-type: none;

}
#header li a
{
  display: inline-block;
  color:white;
  text-align: center;
  padding: 10px 10px;
  font-size:20px;
}
#header li a:hover{
  background-color:#479DFF;
}
#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 60px;
  overflow: hidden;
  background-color: #91C5FF;
  width: 100%;
  font-size: 20px;
  font-family:sans-serif;
}
#menu ul li{
  float:left;

}
#menu ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

#menu ul li a:hover{
  background-color: #479DFF;
}

#etsi
{
  width: 250px;
  padding: 5px;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  border:none;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-left: 160px;
}

#puskuri
{
  height: 140px;
  background-color: white;
}
.etusivu
{
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
.tuote
{
  margin-left: 80px;
  margin-right: 80px;
}
.adduser
{
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}

.ostoskori
{
  margin-left: 80px;
  margin-right: 80px;
}

.login_form
{
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}

.login
{
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}

.logout
{
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}

.createuser
{
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}
